# SQLAlchemy
* [ORM Quick Start](https://docs.sqlalchemy.org/en/20/orm/quickstart.html)
* [SQLAlchemy Unified Tutorial](https://docs.sqlalchemy.org/en/20/tutorial/index.html#unified-tutorial)


## Dialects
* https://docs.sqlalchemy.org/en/20/dialects/index.html

In [2]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.11/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/site-packages (from SQLAlchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/site-packages (from SQLAlchemy) (3.1.1)

In [22]:
# cleanup
!pip uninstall SQLAlchemy -y

Found existing installation: SQLAlchemy 2.0.36
Uninstalling SQLAlchemy-2.0.36:
  Successfully uninstalled SQLAlchemy-2.0.36

In [3]:
import sqlalchemy
sqlalchemy.__version__

'2.0.36'

# ORM Quick Start

## Declare Models

In [11]:
from typing import List
from typing import Optional
from sqlalchemy import ForeignKey
from sqlalchemy import String
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship

class Base(DeclarativeBase):
    pass

class User(Base):
    __tablename__ = "user_account"
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(30))
    fullname: Mapped[Optional[str]] = mapped_column(String(100))
    addresses: Mapped[List["Address"]] = relationship(
        back_populates="user", cascade="all, delete-orphan"
    )
    def __repr__(self) -> str:
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = "address"
    id: Mapped[int] = mapped_column(primary_key=True)
    email_address: Mapped[str] = mapped_column(String(50))
    user_id: Mapped[int] = mapped_column(ForeignKey("user_account.id"))
    user: Mapped["User"] = relationship(back_populates="addresses")
    def __repr__(self) -> str:
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

## Create an Engine

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:change_me@192.168.0.100/devops", echo=True)

## Emit CREATE TABLE DDL

In [13]:
Base.metadata.drop_all(engine)

2024-12-15 12:40:54,008 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-15 12:40:54,124 INFO sqlalchemy.engine.Engine DESCRIBE `devops`.`user_account`
2024-12-15 12:40:54,132 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-15 12:40:54,245 INFO sqlalchemy.engine.Engine DESCRIBE `devops`.`address`
2024-12-15 12:40:54,246 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-15 12:40:54,323 INFO sqlalchemy.engine.Engine
DROP TABLE address
2024-12-15 12:40:54,325 INFO sqlalchemy.engine.Engine [no key 0.00202s] {}
2024-12-15 12:40:54,458 INFO sqlalchemy.engine.Engine
DROP TABLE user_account
2024-12-15 12:40:54,460 INFO sqlalchemy.engine.Engine [no key 0.00202s] {}
2024-12-15 12:40:54,490 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
Base.metadata.create_all(engine)

2024-12-15 12:40:59,129 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-15 12:40:59,139 INFO sqlalchemy.engine.Engine DESCRIBE `devops`.`user_account`
2024-12-15 12:40:59,141 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-15 12:40:59,268 INFO sqlalchemy.engine.Engine DESCRIBE `devops`.`address`
2024-12-15 12:40:59,426 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-15 12:40:59,601 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(30) NOT NULL,
	fullname VARCHAR(100),
	PRIMARY KEY (id)
)


2024-12-15 12:40:59,603 INFO sqlalchemy.engine.Engine [no key 0.00208s] {}
2024-12-15 12:40:59,705 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL AUTO_INCREMENT,
	email_address VARCHAR(50) NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2024-12-15 12:40:59,758 INFO sqlalchemy.engine.Engine [no key 0.05264s] {}
2024-12-15 12:40:59,824 INFO sqlalchemy.engine.Engine COMMIT

## Create Objects and Persist

In [15]:
from sqlalchemy.orm import Session

with Session(engine) as session:
    spongebob = User(
        name="spongebob",
        fullname="Spongebob Squarepants",
        addresses=[Address(email_address="spongebob@sqlalchemy.org")],
    )
    sandy = User(
        name="sandy",
        fullname="Sandy Cheeks",
        addresses=[
            Address(email_address="sandy@sqlalchemy.org"),
            Address(email_address="sandy@squirrelpower.org"),
        ],
    )
    patrick = User(name="patrick", fullname="Patrick Star")
    session.add_all([spongebob, sandy, patrick])
    session.commit()

2024-12-15 12:41:06,884 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-15 12:41:07,109 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (%(name)s, %(fullname)s)
2024-12-15 12:41:07,113 INFO sqlalchemy.engine.Engine [generated in 0.00452s] {'name': 'spongebob', 'fullname': 'Spongebob Squarepants'}
2024-12-15 12:41:07,146 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (%(name)s, %(fullname)s)
2024-12-15 12:41:07,151 INFO sqlalchemy.engine.Engine [cached since 0.04234s ago] {'name': 'sandy', 'fullname': 'Sandy Cheeks'}
2024-12-15 12:41:07,157 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (%(name)s, %(fullname)s)
2024-12-15 12:41:07,158 INFO sqlalchemy.engine.Engine [cached since 0.04968s ago] {'name': 'patrick', 'fullname': 'Patrick Star'}
2024-12-15 12:41:07,165 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (%(email_address)s, %(user_id)s)
2024-12-15 12:41:07,167 INFO sqlalchemy.engine.Engine [generated in 0.00168s] {'email_address': 'spongebob@sqlalchemy.org', 'user_id': 1}
2024-12-15 12:41:07,172 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (%(email_address)s, %(user_id)s)
2024-12-15 12:41:07,175 INFO sqlalchemy.engine.Engine [cached since 0.009706s ago] {'email_address': 'sandy@sqlalchemy.org', 'user_id': 2}
2024-12-15 12:41:07,179 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (%(email_address)s, %(user_id)s)
2024-12-15 12:41:07,184 INFO sqlalchemy.engine.Engine [cached since 0.01952s ago] {'email_address': 'sandy@squirrelpower.org', 'user_id': 2}
2024-12-15 12:41:07,191 INFO sqlalchemy.engine.Engine COMMIT

## Simple SELECT

In [16]:
from sqlalchemy import select

session = Session(engine)

stmt = select(User).where(User.name.in_(["spongebob", "sandy"]))

for user in session.scalars(stmt):
    print(user)

2024-12-15 12:41:12,273 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-15 12:41:12,357 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name IN (%(name_1_1)s, %(name_1_2)s)
2024-12-15 12:41:12,363 INFO sqlalchemy.engine.Engine [generated in 0.00805s] {'name_1_1': 'spongebob', 'name_1_2': 'sandy'}
User(id=1, name='spongebob', fullname='Spongebob Squarepants')
User(id=2, name='sandy', fullname='Sandy Cheeks')

## SELECT with JOIN

In [17]:
stmt = (
    select(Address)
    .join(Address.user)
    .where(User.name == "sandy")
    .where(Address.email_address == "sandy@sqlalchemy.org")
)
sandy_address = session.scalars(stmt).one()
sandy_address

2024-12-15 12:41:22,721 INFO sqlalchemy.engine.Engine SELECT address.id, address.email_address, address.user_id
FROM address INNER JOIN user_account ON user_account.id = address.user_id
WHERE user_account.name = %(name_1)s AND address.email_address = %(email_address_1)s
2024-12-15 12:41:22,770 INFO sqlalchemy.engine.Engine [generated in 0.04907s] {'name_1': 'sandy', 'email_address_1': 'sandy@sqlalchemy.org'}

Address(id=2, email_address='sandy@sqlalchemy.org')

## Make Changes

In [18]:
stmt = select(User).where(User.name == "patrick")
patrick = session.scalars(stmt).one()
patrick.addresses.append(Address(email_address="patrickstar@sqlalchemy.org"))
sandy_address.email_address = "sandy_cheeks@sqlalchemy.org"

session.commit()

2024-12-15 12:41:25,596 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = %(name_1)s

2024-12-15 12:41:25,652 INFO sqlalchemy.engine.Engine [generated in 0.05671s] {'name_1': 'patrick'}
2024-12-15 12:41:25,789 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE %(param_1)s = address.user_id
2024-12-15 12:41:25,790 INFO sqlalchemy.engine.Engine [generated in 0.00158s] {'param_1': 3}
2024-12-15 12:41:25,813 INFO sqlalchemy.engine.Engine UPDATE address SET email_address=%(email_address)s WHERE address.id = %(address_id)s
2024-12-15 12:41:25,814 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {'email_address': 'sandy_cheeks@sqlalchemy.org', 'address_id': 2}
2024-12-15 12:41:25,821 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (%(email_address)s, %(user_id)s)
2024-12-15 12:41:25,825 INFO sqlalchemy.engine.Engine [cached since 18.66s ago] {'email_address': 'patrickstar@sqlalchemy.org', 'user_id': 3}
2024-12-15 12:41:25,839 INFO sqlalchemy.engine.Engine COMMIT

## Some Deletes

In [19]:
sandy = session.get(User, 2)
sandy.addresses.remove(sandy_address)
session.flush()

session.delete(patrick)
session.commit()

2024-12-15 12:41:28,490 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-15 12:41:28,544 INFO sqlalchemy.engine.Engine SELECT user_account.id AS user_account_id, user_account.name AS user_account_name, user_account.fullname AS user_account_fullname
FROM user_account
WHERE user_account.id = %(pk_1)s
2024-12-15 12:41:28,563 INFO sqlalchemy.engine.Engine [generated in 0.02024s] {'pk_1': 2}
2024-12-15 12:41:28,577 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE %(param_1)s = address.user_id
2024-12-15 12:41:28,591 INFO sqlalchemy.engine.Engine [cached since 2.802s ago] {'param_1': 2}
2024-12-15 12:41:28,605 INFO sqlalchemy.engine.Engine DELETE FROM address WHERE address.id = %(id)s
2024-12-15 12:41:28,606 INFO sqlalchemy.engine.Engine [generated in 0.00115s] {'id': 2}
2024-12-15 12:41:28,621 INFO sqlalchemy.engine.Engine SELECT user_account.id AS user_account_id, user_account.name AS user_account_name, user_account.fullname AS user_account_fullname
FROM user_account
WHERE user_account.id = %(pk_1)s
2024-12-15 12:41:28,626 INFO sqlalchemy.engine.Engine [cached since 0.08305s ago] {'pk_1': 3}
2024-12-15 12:41:28,686 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE %(param_1)s = address.user_id
2024-12-15 12:41:28,728 INFO sqlalchemy.engine.Engine [cached since 2.939s ago] {'param_1': 3}
2024-12-15 12:41:28,834 INFO sqlalchemy.engine.Engine DELETE FROM address WHERE address.id = %(id)s
2024-12-15 12:41:28,843 INFO sqlalchemy.engine.Engine [cached since 0.2385s ago] {'id': 4}
2024-12-15 12:41:28,957 INFO sqlalchemy.engine.Engine DELETE FROM user_account WHERE user_account.id = %(id)s
2024-12-15 12:41:28,958 INFO sqlalchemy.engine.Engine [generated in 0.00101s] {'id': 3}
2024-12-15 12:41:28,963 INFO sqlalchemy.engine.Engine COMMIT

In [21]:
stmt = select(User)
for user in session.scalars(stmt):
    print(user)

stmt = select(Address)
for address in session.scalars(stmt):
    print(address)

2024-12-15 12:44:08,402 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
2024-12-15 12:44:08,412 INFO sqlalchemy.engine.Engine [cached since 62.61s ago] {}

User(id=1, name='spongebob', fullname='Spongebob Squarepants')
User(id=2, name='sandy', fullname='Sandy Cheeks')
2024-12-15 12:44:08,545 INFO sqlalchemy.engine.Engine SELECT address.id, address.email_address, address.user_id
FROM address
2024-12-15 12:44:08,551 INFO sqlalchemy.engine.Engine [generated in 0.01308s] {}
Address(id=1, email_address='spongebob@sqlalchemy.org')
Address(id=3, email_address='sandy@squirrelpower.org')