# sqline
* Shell for issuing SQL to relational databases via JDBC
* https://github.com/julianhyde/sqlline
* manual: https://julianhyde.github.io/sqlline/manual.html

NOT WORKING!!!

In [1]:
import $ivy.`com.lihaoyi::os-lib:0.11.3`
import $ivy.`sqlline:sqlline:1.12.0`, sqlline.SqlLine
import $ivy.`org.apache.calcite:calcite-csv:1.38.0`

import $file.^.snippets.Scala, Scala._
import $file.^.snippets.Sqlline, Sqlline._

exec("scala.bat", "--version")

Scala code runner version: 1.5.4
Scala version (default): 3.6.2

import $ivy.$

import $ivy.$                       , sqlline.SqlLine

import $ivy.$


import $file.$               , Scala._

import $file.$                 , Sqlline._

In [5]:
// WHY cannot run here, while can run in amm???
os.proc("D:/workspace/rtfsc/calcite/sqlline.bat", "--help").call()

os.SubprocessException: Result of D:/workspace/rtfsc/calcite/sqlline.bat…: 1

# Apache Calcite

In [2]:
// PUT in snippets/Sqlline.sc
// import $ivy.`org.apache.calcite:calcite-csv:1.38.0`


// import java.io.*;
// import java.nio.charset.StandardCharsets;

// val dbUrl = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model.json"
// // val dbUrl = "csv-model.json"

// def execCommand(command: String = ""): String = {
//   val sqlline = new SqlLine()
//   val baos = new ByteArrayOutputStream()
//   val in = new ByteArrayInputStream("".getBytes(StandardCharsets.UTF_8));
//   val sqllineOutputStream = new PrintStream(baos, true, StandardCharsets.UTF_8.name())
//   sqlline.setOutputStream(sqllineOutputStream)
//   sqlline.setErrorStream(sqllineOutputStream)

//   val args = List(
//     "-u", s"jdbc:calcite:model=${dbUrl}", 
//     "-n", "admin", 
//     "-p", "admin", 
//     // "-log", "sqline.log",
//     // "-e", command,
//     "--run=sqlline.script"
//     ).toArray
  
//   val status = sqlline.begin(args, in, false) // MUST use in, otherwise it's SYSTEM console
//   println(s"Status: ${status}")
//   println(baos.toString("UTF8"))
//   return baos.toString("UTF8")
// }

// execCommand("!tables")

import $ivy.$



import java.io.*;

import java.nio.charset.StandardCharsets;


dbUrl: String = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model.json"
defined function execCommand

## schema

In [9]:
val modelFile = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model.json"
println(os.read(os.Path(modelFile)))

/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * A JSON model of a simple Calcite schema.
 */
{
  "version": "1.0",
  "defaultSchema": "SALES",
  "schemas": [
    {
      "name": "SALES",
      "type": "custom",
      "factory": "org.apache.calcite.adapter.csv.CsvSchemaFactory",
      "operand": {
//        "directory": "sales"
        "directory": "D:\\workspace\\rtfsc\\calcite\\example\\csv\\src\\test\\resources\\sales"
      }
    }
  ]
}

modelFile: String = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model.json"

In [10]:
val dbUrl = "jdbc:calcite:model=" + modelFile
execCommand(dbUrl, command = "!tables")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+-------------+------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
| TABLE_CAT | TABLE_SCHEM | TABLE_NAME |  TABLE_TYPE  | REMARKS | TYPE_CAT | TYPE_SCHEM | TYPE_NAME | SELF_REFERENCING_COL_NAME | REF_GENERATION |
+-----------+-------------+------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
|           | SALES       | DEPTS      | TABLE        |         |          |            |           |                           |                |
|           | SALES       | EMPS       | TABLE        |         |          |            |           |                           |                |
|           | SALES       | SDEPTS     | TABLE        |         |          |            |           |                           |                |
|           | metadata    | COLUMNS    | SYSTEM TABLE |         |          |            |           |                           |                |
|           | metadata    | TABLES     | SYSTEM TABLE |         |          |            |           |                           |                |
+-----------+-------------+------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
sqlline version 1.12.0

dbUrl: String = "jdbc:calcite:model=D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model.json"

In [3]:
execCommand(dbUrl, command = "!columns")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+-------------+------------+------------------------+-----------+-----------------------------------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
| TABLE_CAT | TABLE_SCHEM | TABLE_NAME |      COLUMN_NAME       | DATA_TYPE |             TYPE_NAME             | COLUMN_SIZE | BUFFER_LENGTH | DECIMAL_DIGITS | NUM_PREC_RADIX | NULLABLE | REMARKS | COLUMN_DEF | SQL_DATA_TYPE | SQL_DATETIME_SUB | CHAR_OCTET_LENGTH | ORDINAL_POSITION | IS_NULLABLE | SCOPE_CATALOG | SCOPE_SCHEMA | SCOPE_TABLE | SOURCE_DATA_TYPE | IS_AUTOINCREMENT | IS_GENERATEDCOLUMN |
+-----------+-------------+------------+------------------------+-----------+-----------------------------------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
|           | SALES       | DEPTS      | DEPTNO                 | 4         | INTEGER                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 1                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | DEPTS      | NAME                   | 12        | VARCHAR                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 2                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | EMPNO                  | 4         | INTEGER                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 1                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | NAME                   | 12        | VARCHAR                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 2                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | DEPTNO                 | 4         | INTEGER                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 3                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | GENDER                 | 12        | VARCHAR                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 4                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | CITY                   | 12        | VARCHAR                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 5                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | EMPID                  | 4         | INTEGER                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 6                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | AGE                    | 4         | INTEGER                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 7                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | SLACKER                | 16        | BOOLEAN                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 8                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | MANAGER                | 16        | BOOLEAN                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 9                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | JOINEDAT               | 91        | DATE                              | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 10               | YES         |               |              |             | null             |                  |                    |
|           | SALES       | SDEPTS     | DEPTNO                 | 4         | INTEGER                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 1                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | SDEPTS     | NAME                   | 12        | VARCHAR                           | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 2                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | tableCat               | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 1                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | tableSchem             | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 2                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | tableName              | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 3                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | columnName             | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 4                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | dataType               | 4         | JavaType(int) NOT NULL            | -1          | null          | null           | 10             | 0        |         |            | null          | null             | -1                | 5                | NO          |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | typeName               | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 6                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | columnSize             | 4         | JavaType(class java.lang.Integer) | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 7                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | bufferLength           | 4         | JavaType(class java.lang.Integer) | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 8                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | decimalDigits          | 4         | JavaType(class java.lang.Integer) | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 9                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | numPrecRadix           | 4         | JavaType(class java.lang.Integer) | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 10               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | nullable               | 4         | JavaType(int) NOT NULL            | -1          | null          | null           | 10             | 0        |         |            | null          | null             | -1                | 11               | NO          |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | remarks                | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 12               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | columnDef              | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 13               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | sqlDataType            | 4         | JavaType(class java.lang.Integer) | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 14               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | sqlDatetimeSub         | 4         | JavaType(class java.lang.Integer) | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 15               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | charOctetLength        | 4         | JavaType(class java.lang.Integer) | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 16               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | ordinalPosition        | 4         | JavaType(int) NOT NULL            | -1          | null          | null           | 10             | 0        |         |            | null          | null             | -1                | 17               | NO          |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | isNullable             | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 18               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | scopeCatalog           | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 19               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | scopeSchema            | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 20               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | scopeTable             | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 21               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | sourceDataType         | 5         | JavaType(class java.lang.Short)   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 22               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | isAutoincrement        | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 23               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | COLUMNS    | isGeneratedcolumn      | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 24               | YES         |               |              |             | null             |                  |                    |
|           | metadata    | TABLES     | tableCat               | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 1                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | TABLES     | tableSchem             | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 2                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | TABLES     | tableName              | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 3                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | TABLES     | tableType              | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 4                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | TABLES     | remarks                | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 5                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | TABLES     | typeCat                | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 6                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | TABLES     | typeSchem              | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 7                | YES         |               |              |             | null             |                  |                    |
|           | metadata    | TABLES     | typeName               | 12        | JavaType(class java.lang.String)  | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 8                | YES         |               |              |             | null             |                  |                    |

In [4]:
execCommand(dbUrl, command = "!describe EMPS")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+-------------+------------+-------------+-----------+-----------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
| TABLE_CAT | TABLE_SCHEM | TABLE_NAME | COLUMN_NAME | DATA_TYPE | TYPE_NAME | COLUMN_SIZE | BUFFER_LENGTH | DECIMAL_DIGITS | NUM_PREC_RADIX | NULLABLE | REMARKS | COLUMN_DEF | SQL_DATA_TYPE | SQL_DATETIME_SUB | CHAR_OCTET_LENGTH | ORDINAL_POSITION | IS_NULLABLE | SCOPE_CATALOG | SCOPE_SCHEMA | SCOPE_TABLE | SOURCE_DATA_TYPE | IS_AUTOINCREMENT | IS_GENERATEDCOLUMN |
+-----------+-------------+------------+-------------+-----------+-----------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
|           | SALES       | EMPS       | EMPNO       | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 1                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | NAME        | 12        | VARCHAR   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 2                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | DEPTNO      | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 3                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | GENDER      | 12        | VARCHAR   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 4                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | CITY        | 12        | VARCHAR   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 5                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | EMPID       | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 6                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | AGE         | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 7                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | SLACKER     | 16        | BOOLEAN   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 8                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | MANAGER     | 16        | BOOLEAN   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 9                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | EMPS       | JOINEDAT    | 91        | DATE      | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 10               | YES         |               |              |             | null             |                  |                    |
+-----------+-------------+------------+-------------+-----------+-----------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
sqlline version 1.12.0

In [6]:
execCommand(dbUrl, command="SELECT * FROM emps;")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-------+-------+--------+--------+---------------+-------+------+---------+---------+------------+
| EMPNO | NAME  | DEPTNO | GENDER |     CITY      | EMPID | AGE  | SLACKER | MANAGER |  JOINEDAT  |
+-------+-------+--------+--------+---------------+-------+------+---------+---------+------------+
| 100   | Fred  | 10     |        |               | 30    | 25   | true    | false   | 1996-08-03 |
| 110   | Eric  | 20     | M      | San Francisco | 3     | 80   |         | false   | 2001-01-01 |
| 110   | John  | 40     | M      | Vancouver     | 2     | null | false   | true    | 2002-05-03 |
| 120   | Wilma | 20     | F      |               | 1     | 5    |         | true    | 2005-09-07 |
| 130   | Alice | 40     | F      | Vancouver     | 2     | null | false   | true    | 2007-01-01 |
+-------+-------+--------+--------+---------------+-------+------+---------+---------+------------+
5 rows selected (0.038 seconds)
sqlline version 1.12.0

In [5]:
val sql = """SELECT d.name, COUNT(*)
FROM emps AS e JOIN depts AS d ON e.deptno = d.deptno
GROUP BY d.name;"""

execCommand(dbUrl, command = sql)

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+--------+
|   NAME    | EXPR$1 |
+-----------+--------+
| Sales     | 1      |
| Marketing | 2      |
+-----------+--------+
2 rows selected (1.274 seconds)
sqlline version 1.12.0

sql: String = """SELECT d.name, COUNT(*)
FROM emps AS e JOIN depts AS d ON e.deptno = d.deptno
GROUP BY d.name;"""

In [7]:
execCommand(dbUrl, command="VALUES CHAR_LENGTH('Hello, ' || 'world!');")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+--------+
| EXPR$0 |
+--------+
| 13     |
+--------+
1 row selected (0.067 seconds)
sqlline version 1.12.0

## views in schema

In [12]:
val modelWithViewFile = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model-with-view.json"
println(os.read(os.Path(modelWithViewFile)))

/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * A JSON model of a Calcite schema that includes a view.
 */
{
  "version": "1.0",
  "defaultSchema": "SALES",
  "schemas": [
    {
      "name": "SALES",
      "type": "custom",
      "factory": "org.apache.calcite.adapter.csv.CsvSchemaFactory",
      "operand": {
//        "directory": "sales"
        "directory": "D:\\workspace\\rtfsc\\calcite\\example\\csv\\src\\test\\resources\\sales"
      },
      "tables": [
        {
          "name": "FEMALE_EMPS",
          "type": "view",
          "sql": "SELECT * FROM emps WHERE gender = 'F'"
        }
      ]
    }
  ]
}

modelWithViewFile: String = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model-with-view.json"

In [14]:
val dbUrl = "jdbc:calcite:model=" + modelWithViewFile
execCommand(dbUrl, command = "!tables")
execCommand(dbUrl, command = "!describe FEMALE_EMPS")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+-------------+-------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
| TABLE_CAT | TABLE_SCHEM | TABLE_NAME  |  TABLE_TYPE  | REMARKS | TYPE_CAT | TYPE_SCHEM | TYPE_NAME | SELF_REFERENCING_COL_NAME | REF_GENERATION |
+-----------+-------------+-------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
|           | SALES       | DEPTS       | TABLE        |         |          |            |           |                           |                |
|           | SALES       | EMPS        | TABLE        |         |          |            |           |                           |                |
|           | SALES       | SDEPTS      | TABLE        |         |          |            |           |                           |                |
|           | SALES       | FEMALE_EMPS | VIEW         |         |          |            |           |                           |                |
|           | metadata    | COLUMNS     | SYSTEM TABLE |         |          |            |           |                           |                |
|           | metadata    | TABLES      | SYSTEM TABLE |         |          |            |           |                           |                |
+-----------+-------------+-------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
sqlline version 1.12.0

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+-------------+-------------+-------------+-----------+-----------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
| TABLE_CAT | TABLE_SCHEM | TABLE_NAME  | COLUMN_NAME | DATA_TYPE | TYPE_NAME | COLUMN_SIZE | BUFFER_LENGTH | DECIMAL_DIGITS | NUM_PREC_RADIX | NULLABLE | REMARKS | COLUMN_DEF | SQL_DATA_TYPE | SQL_DATETIME_SUB | CHAR_OCTET_LENGTH | ORDINAL_POSITION | IS_NULLABLE | SCOPE_CATALOG | SCOPE_SCHEMA | SCOPE_TABLE | SOURCE_DATA_TYPE | IS_AUTOINCREMENT | IS_GENERATEDCOLUMN |
+-----------+-------------+-------------+-------------+-----------+-----------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
|           | SALES       | FEMALE_EMPS | EMPNO       | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 1                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | FEMALE_EMPS | NAME        | 12        | VARCHAR   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 2                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | FEMALE_EMPS | DEPTNO      | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 3                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | FEMALE_EMPS | GENDER      | 12        | VARCHAR   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 4                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | FEMALE_EMPS | CITY        | 12        | VARCHAR   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 5                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | FEMALE_EMPS | EMPID       | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 6                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | FEMALE_EMPS | AGE         | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 7                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | FEMALE_EMPS | SLACKER     | 16        | BOOLEAN   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 8                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | FEMALE_EMPS | MANAGER     | 16        | BOOLEAN   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 9                | YES         |               |              |             | null             |                  |                    |
|           | SALES       | FEMALE_EMPS | JOINEDAT    | 91        | DATE      | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 10               | YES         |               |              |             | null             |                  |                    |
+-----------+-------------+-------------+-------------+-----------+-----------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
sqlline version 1.12.0

dbUrl: String = "jdbc:calcite:model=D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model-with-view.json"

In [15]:
execCommand(dbUrl, command="SELECT e.name, d.name FROM female_emps AS e JOIN depts AS d on e.deptno = d.deptno;")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-------+-----------+
| NAME  |   NAME    |
+-------+-----------+
| Wilma | Marketing |
+-------+-----------+
1 row selected (0.066 seconds)
sqlline version 1.12.0

## custom table

In [17]:
val modelWithCustomTableFile = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model-with-custom-table.json"
println(os.read(os.Path(modelWithCustomTableFile)))

/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
{
  "version": "1.0",
  "defaultSchema": "CUSTOM_TABLE",
  "schemas": [
    {
      "name": "CUSTOM_TABLE",
      "tables": [
        {
          "name": "EMPS",
          "type": "custom",
          "factory": "org.apache.calcite.adapter.csv.CsvTableFactory",
          "operand": {
//            "file": "sales/EMPS.csv.gz",
            "file": "D:\\workspace\\rtfsc\\calcite\\example\\csv\\src\\test\\resources\\sales\\EMPS.csv.gz",
            "flavor": "scannable"
          }
        }
      ]
    }
  ]
}

modelWithCustomTableFile: String = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model-with-custom-table.json"

In [18]:
val dbUrl = "jdbc:calcite:model=" + modelWithCustomTableFile
execCommand(dbUrl, command = "!tables")
execCommand(dbUrl, command = "!describe EMPS")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+--------------+------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
| TABLE_CAT | TABLE_SCHEM  | TABLE_NAME |  TABLE_TYPE  | REMARKS | TYPE_CAT | TYPE_SCHEM | TYPE_NAME | SELF_REFERENCING_COL_NAME | REF_GENERATION |
+-----------+--------------+------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
|           | CUSTOM_TABLE | EMPS       | TABLE        |         |          |            |           |                           |                |
|           | metadata     | COLUMNS    | SYSTEM TABLE |         |          |            |           |                           |                |
|           | metadata     | TABLES     | SYSTEM TABLE |         |          |            |           |                           |                |
+-----------+--------------+------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
sqlline version 1.12.0

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+--------------+------------+-------------+-----------+-----------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
| TABLE_CAT | TABLE_SCHEM  | TABLE_NAME | COLUMN_NAME | DATA_TYPE | TYPE_NAME | COLUMN_SIZE | BUFFER_LENGTH | DECIMAL_DIGITS | NUM_PREC_RADIX | NULLABLE | REMARKS | COLUMN_DEF | SQL_DATA_TYPE | SQL_DATETIME_SUB | CHAR_OCTET_LENGTH | ORDINAL_POSITION | IS_NULLABLE | SCOPE_CATALOG | SCOPE_SCHEMA | SCOPE_TABLE | SOURCE_DATA_TYPE | IS_AUTOINCREMENT | IS_GENERATEDCOLUMN |
+-----------+--------------+------------+-------------+-----------+-----------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
|           | CUSTOM_TABLE | EMPS       | EMPNO       | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 1                | YES         |               |              |             | null             |                  |                    |
|           | CUSTOM_TABLE | EMPS       | NAME        | 12        | VARCHAR   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 2                | YES         |               |              |             | null             |                  |                    |
|           | CUSTOM_TABLE | EMPS       | DEPTNO      | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 3                | YES         |               |              |             | null             |                  |                    |
|           | CUSTOM_TABLE | EMPS       | GENDER      | 12        | VARCHAR   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 4                | YES         |               |              |             | null             |                  |                    |
|           | CUSTOM_TABLE | EMPS       | CITY        | 12        | VARCHAR   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 5                | YES         |               |              |             | null             |                  |                    |
|           | CUSTOM_TABLE | EMPS       | EMPID       | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 6                | YES         |               |              |             | null             |                  |                    |
|           | CUSTOM_TABLE | EMPS       | AGE         | 4         | INTEGER   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 7                | YES         |               |              |             | null             |                  |                    |
|           | CUSTOM_TABLE | EMPS       | SLACKER     | 16        | BOOLEAN   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 8                | YES         |               |              |             | null             |                  |                    |
|           | CUSTOM_TABLE | EMPS       | MANAGER     | 16        | BOOLEAN   | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 9                | YES         |               |              |             | null             |                  |                    |
|           | CUSTOM_TABLE | EMPS       | JOINEDAT    | 91        | DATE      | -1          | null          | null           | 10             | 1        |         |            | null          | null             | -1                | 10               | YES         |               |              |             | null             |                  |                    |
+-----------+--------------+------------+-------------+-----------+-----------+-------------+---------------+----------------+----------------+----------+---------+------------+---------------+------------------+-------------------+------------------+-------------+---------------+--------------+-------------+------------------+------------------+--------------------+
sqlline version 1.12.0

dbUrl: String = "jdbc:calcite:model=D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model-with-custom-table.json"

In [19]:
execCommand(dbUrl, command="SELECT empno, name FROM custom_table.emps;")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-------+-------+
| EMPNO | NAME  |
+-------+-------+
| 100   | Fred  |
| 110   | Eric  |
| 110   | John  |
| 120   | Wilma |
| 130   | Alice |
+-------+-------+
5 rows selected (0.012 seconds)
sqlline version 1.12.0

## planner rules

In [2]:
val modelFile = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model.json"
println(os.read(os.Path(modelFile)))

/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * A JSON model of a simple Calcite schema.
 */
{
  "version": "1.0",
  "defaultSchema": "SALES",
  "schemas": [
    {
      "name": "SALES",
      "type": "custom",
      "factory": "org.apache.calcite.adapter.csv.CsvSchemaFactory",
      "operand": {
//        "directory": "sales"
        "directory": "D:\\workspace\\rtfsc\\calcite\\example\\csv\\src\\test\\resources\\sales"
      }
    }
  ]
}

modelFile: String = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model.json"

In [3]:
val dbUrl = "jdbc:calcite:model=" + modelFile
execCommand(dbUrl, command="explain plan for select name from emps;")

SLF4J(W): No SLF4J providers were found.
SLF4J(W): Defaulting to no-operation (NOP) logger implementation
SLF4J(W): See https://www.slf4j.org/codes.html#noProviders for further details.

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+---------------------------------------------------+
|                       PLAN                        |
+---------------------------------------------------+
| EnumerableCalc(expr#0..9=[{inputs}], NAME=[$t1])
  EnumerableTableScan(table=[[SALES, EMPS]])
 |
+---------------------------------------------------+
1 row selected (0.925 seconds)
sqlline version 1.12.0

dbUrl: String = "jdbc:calcite:model=D:/workspace/rtfsc/calcite/example/csv/src/test/resources/model.json"

In [6]:
val modelSmartFile = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/smart.json"
println(os.read(os.Path(modelSmartFile)))

/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * A JSON model of a Calcite schema that is similar to model.json,
 * except that it produces tables that implement FilterableTable.
 * These tables can implement their own simple filtering.
 *
 * A JSON model of a Calcite schema that is similar to model.json,
 * except that it produces tables that implement
 * TranslatableTable. These tables are translated to a CsvTableScan
 * relational expression which participates in query planning.
 */
{
  "version": "1.0",
  "defaultSchema": "SALES",
  "schemas": [
    {
      "name": "SALES",
      "type": "custom",
      "factory": "org.apache.calcite.adapter.csv.CsvSchemaFactory",
      "operand": {
//        "directory": "sales",
        "directory": "D:\\workspace\\rtfsc\\calcite\\example\\csv\\src\\test\\resources\\sales",
        "flavor": "TRANSLATABLE"
      }
    }
  ]
}

modelSmartFile: String = "D:/workspace/rtfsc/calcite/example/csv/src/test/resources/smart.json"

In [7]:
val dbUrl = "jdbc:calcite:model=" + modelSmartFile
execCommand(dbUrl, command="explain plan for select name from emps;")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+----------------------------------------------------+
|                        PLAN                        |
+----------------------------------------------------+
| CsvTableScan(table=[[SALES, EMPS]], fields=[[1]])
 |
+----------------------------------------------------+
1 row selected (0.041 seconds)
sqlline version 1.12.0

dbUrl: String = "jdbc:calcite:model=D:/workspace/rtfsc/calcite/example/csv/src/test/resources/smart.json"

## JDBC adaptor
* foodmart: https://github.com/rsim/mondrian_demo/blob/master/db/foodmart.sql

In [5]:
import $ivy.`org.apache.calcite:calcite-core:1.38.0`
// import $ivy.`mysql:mysql-connector-java:5.1.20`
import $ivy.`mysql:mysql-connector-java:8.0.32`
// import $ivy.`com.mysql:mysql-connector-j:9.1.0`

Downloading https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.32/mysql-connector-java-8.0.32.pom
Downloaded https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.32/mysql-connector-java-8.0.32.pom
Downloading https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.32/mysql-connector-j-8.0.32.pom
Downloaded https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.32/mysql-connector-j-8.0.32.pom
Downloading https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.32/mysql-connector-j-8.0.32-sources.jar
Downloading https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.32/mysql-connector-j-8.0.32.jar
Still downloading:
https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.32/mysql-connector-j-8.0.32.jar (84.03 %, 2084540 / 2480823)
https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.32/mysql-connector-j-8.0.32-sources.jar (45.72 %, 734781 / 1607222)

Downloaded https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.32/mysql-connector-j-8.0.32.jar
Downloaded https://repo1.maven.org/maven2/com/mysql/mysql-connector-j/8.0.32/mysql-connector-j-8.0.32-sources.jar

import $ivy.$
// import $ivy.`mysql:mysql-connector-java:5.1.20`

import $ivy.$
// import $ivy.`com.mysql:mysql-connector-j:9.1.0`

In [11]:
val foodmartModelFile = "mysql-foodmart.json"
println(os.read(os.pwd / foodmartModelFile))

{
  "version": "1.0",
  "defaultSchema": "foodmart",
  "schemas": [
    {
      "name": "foodmart",
      "type": "custom",
      "factory": "org.apache.calcite.adapter.jdbc.JdbcSchema$Factory",
      "operand": {
        "jdbcDriver": "com.mysql.jdbc.Driver",
        "jdbcUrl": "jdbc:mysql://localhost:3306/foodmart",
        "jdbcUser": "root",
        "jdbcPassword": "devops+mysql"
      }
    }
  ]
}

foodmartModelFile: String = "mysql-foodmart.json"

In [12]:
val dbUrl = "jdbc:calcite:model=" + foodmartModelFile
execCommand(dbUrl, command="!tables")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+-------------+-----------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
| TABLE_CAT | TABLE_SCHEM |   TABLE_NAME    |  TABLE_TYPE  | REMARKS | TYPE_CAT | TYPE_SCHEM | TYPE_NAME | SELF_REFERENCING_COL_NAME | REF_GENERATION |
+-----------+-------------+-----------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
|           | foodmart    | customer        | TABLE        |         |          |            |           |                           |                |
|           | foodmart    | product         | TABLE        |         |          |            |           |                           |                |
|           | foodmart    | product_class   | TABLE        |         |          |            |           |                           |                |
|           | foodmart    | sales_fact_1997 | TABLE        |         |          |            |           |                           |                |
|           | foodmart    | time_by_day     | TABLE        |         |          |            |           |                           |                |
|           | metadata    | COLUMNS         | SYSTEM TABLE |         |          |            |           |                           |                |
|           | metadata    | TABLES          | SYSTEM TABLE |         |          |            |           |                           |                |
+-----------+-------------+-----------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
sqlline version 1.12.0

dbUrl: String = "jdbc:calcite:model=mysql-foodmart.json"

In [14]:
execCommand(dbUrl, command="""
SELECT 1
""")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+--------+
| EXPR$0 |
+--------+
| 1      |
+--------+
1 row selected (0.011 seconds)
sqlline version 1.12.0

In [16]:
// WHY NEED "<TABLE>" ???
// execCommand(dbUrl, command="""
// SELECT * FROM customer LIMIT 10;
// """)

Status: OTHER
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
Error: Error while executing SQL "SELECT * FROM customer LIMIT 10": From line 1, column 15 to line 1, column 22: Object 'CUSTOMER' not found within 'foodmart'; did you mean 'customer'? (state=,code=0)
sqlline version 1.12.0

In [17]:
execCommand(dbUrl, command="""
SELECT * FROM "foodmart"."customer" LIMIT 10;
""")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-------------+-------------+-----------+---------+----+------------------------+----------+----------+----------+-------------+----------------+-------------+---------+--------------------+--------------+--------------+------------+----------------+---------------+--------+----------------+----------------------+---------------------+-------------------+-------------+----------------+------------+----------------+------------------+
| customer_id | account_num |   lname   |  fname  | mi |        address1        | address2 | address3 | address4 |    city     | state_province | postal_code | country | customer_region_id |    phone1    |    phone2    | birthdate  | marital_status | yearly_income | gender | total_children | num_children_at_home |      education      | date_accnt_opened | member_card |   occupation   | houseowner | num_cars_owned |     fullname     |
+-------------+-------------+-----------+---------+----+------------------------+----------+----------+----------+-------------+----------------+-------------+---------+--------------------+--------------+--------------+------------+----------------+---------------+--------+----------------+----------------------+---------------------+-------------------+-------------+----------------+------------+----------------+------------------+
| 1           | 87462024688 | Nowmer    | Sheri   | A. | 2433 Bailey Road       |          |          |          | Tlaxiaco    | Oaxaca         | 15057       | Mexico  | 30                 | 271-555-9715 | 119-555-1969 | 1961-08-26 | M              | $30K - $50K   | F      | 4              | 2                    | Partial High School | 1991-09-10        | Bronze      | Skilled Manual | Y          | 4              | Sheri Nowmer     |
| 2           | 87470586299 | Whelply   | Derrick | I. | 2219 Dewing Avenue     |          |          |          | Sooke       | BC             | 17172       | Canada  | 101                | 211-555-7669 | 807-555-9033 | 1915-07-03 | S              | $70K - $90K   | M      | 1              | 0                    | Partial High School | 1993-03-11        | Bronze      | Professional   | N          | 3              | Derrick Whelply  |
| 3           | 87475757600 | Derry     | Jeanne  |    | 7640 First Ave.        |          |          |          | Issaquah    | WA             | 73980       | USA     | 21                 | 656-555-2272 | 221-555-2493 | 1910-06-21 | M              | $50K - $70K   | F      | 1              | 1                    | Bachelors Degree    | 1991-06-11        | Bronze      | Professional   | Y          | 2              | Jeanne Derry     |
| 4           | 87500482201 | Spence    | Michael | J. | 337 Tosca Way          |          |          |          | Burnaby     | BC             | 74674       | Canada  | 92                 | 929-555-7279 | 272-555-2844 | 1969-06-20 | M              | $10K - $30K   | M      | 4              | 4                    | Partial High School | 1994-05-21        | Normal      | Skilled Manual | N          | 2              | Michael Spence   |
| 5           | 87514054179 | Gutierrez | Maya    |    | 8668 Via Neruda        |          |          |          | Novato      | CA             | 57355       | USA     | 42                 | 387-555-7172 | 260-555-6936 | 1951-05-10 | S              | $30K - $50K   | F      | 3              | 0                    | Partial College     | 1992-08-21        | Silver      | Manual         | N          | 3              | Maya Gutierrez   |
| 6           | 87517782449 | Damstra   | Robert  | F. | 1619 Stillman Court    |          |          |          | Lynnwood    | WA             | 90792       | USA     | 75                 | 922-555-5465 | 333-555-5915 | 1942-10-08 | S              | $70K - $90K   | F      | 3              | 0                    | Bachelors Degree    | 1992-04-05        | Bronze      | Professional   | Y          | 3              | Robert Damstra   |
| 7           | 87521172800 | Kanagaki  | Rebecca |    | 2860 D Mt. Hood Circle |          |          |          | Tlaxiaco    | Oaxaca         | 13343       | Mexico  | 30                 | 515-555-6247 | 934-555-9211 | 1949-03-27 | M              | $30K - $50K   | F      | 2              | 1                    | Partial High School | 1991-05-01        | Bronze      | Manual         | Y          | 3              | Rebecca Kanagaki |
| 8           | 87539744377 | Brunner   | Kim     | H. | 6064 Brodia Court      |          |          |          | San Andres  | DF             | 12942       | Mexico  | 106                | 411-555-6825 | 130-555-6818 | 1922-08-10 | M              | $50K - $70K   | M      | 2              | 2                    | Bachelors Degree    | 1992-06-11        | Bronze      | Professional   | Y          | 3              | Kim Brunner      |
| 9           | 87544797658 | Blumberg  | Brenda  | C. | 7560 Trees Drive       |          |          |          | Richmond    | BC             | 17256       | Canada  | 90                 | 815-555-3975 | 642-555-6483 | 1979-06-23 | M              | $10K - $30K   | M      | 5              | 3                    | Partial High School | 1993-11-14        | Normal      | Skilled Manual | Y          | 1              | Brenda Blumberg  |
| 10          | 87568712234 | Stanz     | Darren  | M. | 1019 Kenwal Rd.        |          |          |          | Lake Oswego | OR             | 82017       | USA     | 64                 | 847-555-5443 | 212-555-8635 | 1949-08-26 | S              | $30K - $50K   | M      | 4              | 0                    | Bachelors Degree    | 1993-05-04        | Golden      | Management     | N          | 4              | Darren Stanz     |
+-------------+-------------+-----------+---------+----+------------------------+----------+----------+----------+-------------+----------------+-------------+---------+--------------------+--------------+--------------+------------+----------------+---------------+--------+----------------+----------------------+---------------------+-------------------+-------------+----------------+------------+----------------+------------------+
10 rows selected (0.044 seconds)
sqlline version 1.12.0

## cloing JDBC adaptor

In [21]:
val foodmartCloneModelFile = "mysql-foodmart-clone.json"
println(os.read(os.pwd / foodmartCloneModelFile))

{
  "version": "1.0",
  "defaultSchema": "foodmart_clone",
  "schemas": [
    {
      "name": "foodmart",
      "type": "custom",
      "factory": "org.apache.calcite.adapter.jdbc.JdbcSchema$Factory",
      "operand": {
        "jdbcDriver": "com.mysql.jdbc.Driver",
        "jdbcUrl": "jdbc:mysql://localhost:3306/foodmart",
        "jdbcUser": "root",
        "jdbcPassword": "devops+mysql"
      }
    },
    {
      "name": "foodmart_clone",
      "type": "custom",
      "factory": "org.apache.calcite.adapter.clone.CloneSchema$Factory",
      // "operand": {
      //   "source": "foodmart"
      // }
      "operand": {
        "jdbcDriver": "com.mysql.jdbc.Driver",
        "jdbcUrl": "jdbc:mysql://localhost:3306/foodmart",
        "jdbcUser": "root",
        "jdbcPassword": "devops+mysql"
      }
    }
  ]
}

foodmartCloneModelFile: String = "mysql-foodmart-clone.json"

In [22]:
val dbUrl = "jdbc:calcite:model=" + foodmartCloneModelFile
execCommand(dbUrl, command="!tables")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-----------+----------------+-----------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
| TABLE_CAT |  TABLE_SCHEM   |   TABLE_NAME    |  TABLE_TYPE  | REMARKS | TYPE_CAT | TYPE_SCHEM | TYPE_NAME | SELF_REFERENCING_COL_NAME | REF_GENERATION |
+-----------+----------------+-----------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
|           | foodmart       | customer        | TABLE        |         |          |            |           |                           |                |
|           | foodmart       | product         | TABLE        |         |          |            |           |                           |                |
|           | foodmart       | product_class   | TABLE        |         |          |            |           |                           |                |
|           | foodmart       | sales_fact_1997 | TABLE        |         |          |            |           |                           |                |
|           | foodmart       | time_by_day     | TABLE        |         |          |            |           |                           |                |
|           | foodmart_clone | customer        | TABLE        |         |          |            |           |                           |                |
|           | foodmart_clone | product         | TABLE        |         |          |            |           |                           |                |
|           | foodmart_clone | product_class   | TABLE        |         |          |            |           |                           |                |
|           | foodmart_clone | sales_fact_1997 | TABLE        |         |          |            |           |                           |                |
|           | foodmart_clone | time_by_day     | TABLE        |         |          |            |           |                           |                |
|           | metadata       | COLUMNS         | SYSTEM TABLE |         |          |            |           |                           |                |
|           | metadata       | TABLES          | SYSTEM TABLE |         |          |            |           |                           |                |
+-----------+----------------+-----------------+--------------+---------+----------+------------+-----------+---------------------------+----------------+
sqlline version 1.12.0

dbUrl: String = "jdbc:calcite:model=mysql-foodmart-clone.json"

In [23]:
execCommand(dbUrl, command="""
SELECT * FROM "foodmart_clone"."customer" LIMIT 10;
""")

Status: OK
Transaction isolation level TRANSACTION_REPEATABLE_READ is not supported. Default (TRANSACTION_NONE) will be used instead.
+-------------+-------------+-----------+---------+----+------------------------+----------+----------+----------+-------------+----------------+-------------+---------+--------------------+--------------+--------------+------------+----------------+---------------+--------+----------------+----------------------+---------------------+-------------------+-------------+----------------+------------+----------------+------------------+
| customer_id | account_num |   lname   |  fname  | mi |        address1        | address2 | address3 | address4 |    city     | state_province | postal_code | country | customer_region_id |    phone1    |    phone2    | birthdate  | marital_status | yearly_income | gender | total_children | num_children_at_home |      education      | date_accnt_opened | member_card |   occupation   | houseowner | num_cars_owned |     fullname     |
+-------------+-------------+-----------+---------+----+------------------------+----------+----------+----------+-------------+----------------+-------------+---------+--------------------+--------------+--------------+------------+----------------+---------------+--------+----------------+----------------------+---------------------+-------------------+-------------+----------------+------------+----------------+------------------+
| 1           | 87462024688 | Nowmer    | Sheri   | A. | 2433 Bailey Road       |          |          |          | Tlaxiaco    | Oaxaca         | 15057       | Mexico  | 30                 | 271-555-9715 | 119-555-1969 | 1961-08-26 | M              | $30K - $50K   | F      | 4              | 2                    | Partial High School | 1991-09-10        | Bronze      | Skilled Manual | Y          | 4              | Sheri Nowmer     |
| 2           | 87470586299 | Whelply   | Derrick | I. | 2219 Dewing Avenue     |          |          |          | Sooke       | BC             | 17172       | Canada  | 101                | 211-555-7669 | 807-555-9033 | 1915-07-03 | S              | $70K - $90K   | M      | 1              | 0                    | Partial High School | 1993-03-11        | Bronze      | Professional   | N          | 3              | Derrick Whelply  |
| 3           | 87475757600 | Derry     | Jeanne  |    | 7640 First Ave.        |          |          |          | Issaquah    | WA             | 73980       | USA     | 21                 | 656-555-2272 | 221-555-2493 | 1910-06-21 | M              | $50K - $70K   | F      | 1              | 1                    | Bachelors Degree    | 1991-06-11        | Bronze      | Professional   | Y          | 2              | Jeanne Derry     |
| 4           | 87500482201 | Spence    | Michael | J. | 337 Tosca Way          |          |          |          | Burnaby     | BC             | 74674       | Canada  | 92                 | 929-555-7279 | 272-555-2844 | 1969-06-20 | M              | $10K - $30K   | M      | 4              | 4                    | Partial High School | 1994-05-21        | Normal      | Skilled Manual | N          | 2              | Michael Spence   |
| 5           | 87514054179 | Gutierrez | Maya    |    | 8668 Via Neruda        |          |          |          | Novato      | CA             | 57355       | USA     | 42                 | 387-555-7172 | 260-555-6936 | 1951-05-10 | S              | $30K - $50K   | F      | 3              | 0                    | Partial College     | 1992-08-21        | Silver      | Manual         | N          | 3              | Maya Gutierrez   |
| 6           | 87517782449 | Damstra   | Robert  | F. | 1619 Stillman Court    |          |          |          | Lynnwood    | WA             | 90792       | USA     | 75                 | 922-555-5465 | 333-555-5915 | 1942-10-08 | S              | $70K - $90K   | F      | 3              | 0                    | Bachelors Degree    | 1992-04-05        | Bronze      | Professional   | Y          | 3              | Robert Damstra   |
| 7           | 87521172800 | Kanagaki  | Rebecca |    | 2860 D Mt. Hood Circle |          |          |          | Tlaxiaco    | Oaxaca         | 13343       | Mexico  | 30                 | 515-555-6247 | 934-555-9211 | 1949-03-27 | M              | $30K - $50K   | F      | 2              | 1                    | Partial High School | 1991-05-01        | Bronze      | Manual         | Y          | 3              | Rebecca Kanagaki |
| 8           | 87539744377 | Brunner   | Kim     | H. | 6064 Brodia Court      |          |          |          | San Andres  | DF             | 12942       | Mexico  | 106                | 411-555-6825 | 130-555-6818 | 1922-08-10 | M              | $50K - $70K   | M      | 2              | 2                    | Bachelors Degree    | 1992-06-11        | Bronze      | Professional   | Y          | 3              | Kim Brunner      |
| 9           | 87544797658 | Blumberg  | Brenda  | C. | 7560 Trees Drive       |          |          |          | Richmond    | BC             | 17256       | Canada  | 90                 | 815-555-3975 | 642-555-6483 | 1979-06-23 | M              | $10K - $30K   | M      | 5              | 3                    | Partial High School | 1993-11-14        | Normal      | Skilled Manual | Y          | 1              | Brenda Blumberg  |
| 10          | 87568712234 | Stanz     | Darren  | M. | 1019 Kenwal Rd.        |          |          |          | Lake Oswego | OR             | 82017       | USA     | 64                 | 847-555-5443 | 212-555-8635 | 1949-08-26 | S              | $30K - $50K   | M      | 4              | 0                    | Bachelors Degree    | 1993-05-04        | Golden      | Management     | N          | 4              | Darren Stanz     |
+-------------+-------------+-----------+---------+----+------------------------+----------+----------+----------+-------------+----------------+-------------+---------+--------------------+--------------+--------------+------------+----------------+---------------+--------+----------------+----------------------+---------------------+-------------------+-------------+----------------+------------+----------------+------------------+
10 rows selected (0.47 seconds)
sqlline version 1.12.0